backend/node_modules/
backend/assets/img/user_files/*.*
backend/assets/img/user_files/thumbnail/*.*
backend/.env
backend/npm-debug.log
.idea/
db.json
.DS_Store
frontend/angular-seed/app/bower_components/
frontend/angular-seed/node_modules/