doctype html
html(ng-app='campaignsApp' ng-cloak)
    include header.pug
    body(ng-controller='AgentChatController as chatAgentCtr')
        #wrapper
            .row
                .col-lg-12
                    .ibox.float-e-margins
                        .ibox-content
                            .panel.blank-panel
                                input.form-control(type='hidden', name='conversations', ng-init="chatAgentCtr.conversations = " + conversations + "" , ng-model='chatAgentCtr.conversations')
                                input.form-control(type='hidden', name='agent', ng-init="chatAgentCtr.agent = " + user + "" , ng-model='chatAgentCtr.agent')
                                .panel-heading
                                    .panel-options
                                        ul.nav.nav-tabs(ng-if='chatAgentCtr.conversations')
                                            li(ng-repeat='conv in chatAgentCtr.conversations')
                                                a(data-toggle='tab', href='{{ conv.id }}' ng-click='chatAgentCtr.getConversation(conv)') {{ conv.username || 'No name' }} &nbsp
                                                    span.pull-right.label.label-primary(ng-show='!chatAgentCtr.currentUser || (conv.newMessages > 0 && conv.id != chatAgentCtr.currentUser.id)') {{ conv.newMessages }}
                                                    span.pull-right.badge.badge-danger.attention-sign(ng-show='conv.isPaused && conv.pauseInitiator == "bot"') !

                                .panel-body
                                    .tab-content
                                        .ibox.chat-view
                                            .ibox-title
                                                small.pull-right.text-muted Last message:  Mon Jan 26 2015 - 18:39:23
                                                |     Chat room panel
                                            .ibox-content
                                                .row
                                                    .col-md-12
                                                        .chat-discussion
                                                            h2(ng-if='chatAgentCtr.userConversation.length == 0') No messages
                                                            h2.text-danger(ng-if='chatAgentCtr.websocketIsError') Websocket Error!
                                                            .chat-message(ng-repeat='conv in chatAgentCtr.userConversation track by $index', ,='', ng-if='conv.text && conv.text != "EMULATION" && conv.text != ""' ng-class="{'direct1': conv.direction == 1, 'direct0': conv.direction == 0}")
                                                                img.message-avatar(src='/assets/img/person-black.png', ng-if='conv.direction == 1')
                                                                img.message-avatar(src='/assets/img/person-white.png', ng-if='conv.direction == 0')
                                                                .message
                                                                    a.message-author(href='#', ng-if='conv.direction == 1')  Chat bot
                                                                    a.message-author(href='#', ng-if='conv.direction == 0')  {{ chatAgentCtr.currentUser.username }}
                                                                    span.message-date   Fri Jan 25 2015 - 11:12:36
                                                                    span.message-content(ng-if="conv.text", ng-bind-html="conv.text | emojiOneShortnameToImage | trust")
                                                                    span.message-content(ng-if="!conv.text") Empty message.
                                                .row
                                                    .col-lg-12
                                                        .chat-message-form
                                                            .form-group(ng-show="chatAgentCtr.currentUser.id")
                                                                textarea.form-control.message-input(ng-model='chatAgentCtr.messageText', name='message', placeholder='Enter message text', id='messageEditor')
                                                                a.btn.btn-w-m.btn-warning.chat-button(ng-click='chatAgentCtr.paused()') {{ chatAgentCtr.currentUser.isPaused? 'Unpause Bot':'Pause Bot';}}

                                                                div(ng-show="chatAgentCtr.currentUser.isPaused")
                                                                    a.btn.btn-w-m.btn-info.chat-button(ng-click='chatAgentCtr.sendMessage()', ng-show='!chatAgentCtr.isSend', ng-disabled='!chatAgentCtr.currentUser.sender') Send
                                                                    a.btn.btn-w-m.btn-info.chat-button(disabled='', ng-show='chatAgentCtr.isSend', href='/') Sending...
                                                                    input.btn.btn-w-m.btn-success.chat-button(ng-disabled='(chatAgentCtr.currentUser.sender && chatAgentCtr.isDownloadingFile ) || !chatAgentCtr.currentUser.sender', id="file" type="file")
                                                                    p.text-danger(ng-show='chatAgentCtr.fileErrorText') {{ chatAgentCtr.fileErrorText }}

                                                                    //input.form-control(ng-model='chatAgentCtr.phone', name='phone', placeholder='Customer phone number', id='phoneNumber')
                                                                    //a.btn.btn-w-m.btn-success.chat-button(ng-click='chatAgentCtr.linkTwilio()') Link Twilio
                                                                    //a.btn.btn-w-m.btn-success.chat-button(ng-click='chatAgentCtr.linkFacebook()') Link Messenger


            include footer.pug
