doctype html
html(ng-app='campaignsApp')
    include header.pug
    body(ng-controller='CampaignListController as campaignCtr')
        #wrapper
            include navigation.pug
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='search_results.html')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .row.wrapper.border-bottom.white-bg.page-heading
                    .col-lg-10
                        h2 Campaigns
                        ol.breadcrumb
                            li
                                a(href='/dashboard') Home
                            li
                                a Chatbot
                            li.active
                                strong Campaigns
                    .col-lg-2
                .wrapper.wrapper-content.animated.fadeInRight
                    .row
                        .col-lg-12
                            .ibox.float-e-margins
                                if id
                                    .alert.alert-success.alert-dismissable
                                        button.close(aria-hidden='true', data-dismiss='alert', type='button') &times;
                                        |  Created successfully
                                        |
                                        b ID #{id}
                                        | .
                                .ibox-title
                                    h5 Add new campaign
                                    .ibox-tools
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu.dropdown-user
                                            li
                                                a(href='#') Config option 1
                                            li
                                                a(href='#') Config option 2
                                        a.close-link
                                            i.fa.fa-times
                                .ibox-content
                                    form.form-horizontal#main(method='post', action='/dashboard/campaigns')
                                        .form-group
                                            label.col-sm-2.control-label Name
                                            .col-sm-10
                                                input.form-control(type='text' name='name')
                                                input.form-control(type='hidden', name='data', id='data')

                                        .form-group
                                            label.col-sm-2.control-label Channel
                                            .col-sm-2
                                                select.form-control.m-b(name='channel')
                                                    option(value='sms') SMS
                                                    option(value='facebook') Facebook
                                                    option(value='telegram') Telegram
                                                    option(value='slack') Slack
                                        .form-group
                                            label.col-sm-2.control-label Phone number
                                            .col-sm-10
                                                .row
                                                    .col-md-3
                                                        input.form-control(type='text', name='phone' placeholder='+12345678')

                                        .form-group
                                            label.col-sm-2.control-label Start/End date
                                            .col-sm-10
                                                #datepicker.input-daterange.input-group
                                                    input.input-sm.form-control.datapicker(type='text', name='startDate', value='')
                                                    |
                                                    span.input-group-addon to
                                                    |
                                                    input.input-sm.form-control.datapicker(type='text', name='endDate', value='')
                                        #base
                                            .hr-line-dashed

                                        .form-group
                                            .col-sm-4.col-sm-offset-2
                                                button.btn.btn-w-m.btn-success#save(ng-click='campaignCtr.submit()') Save
                                                |
                                                |
                                                button.btn.btn-primary(ng-click='campaignCtr.addStep()') + Add
                                                |
                                                |
                                                button.btn.btn-w-m.btn-danger(ng-click='campaignCtr.deleteStep()', ng-disabled='campaignCtr.step == 1') Delete
                include footer.pug