doctype html
html(ng-app='campaignsApp')
    include header.pug
    body(ng-controller='CampaignListController as campaignCtr')
        #wrapper
            include navigation.pug
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='search_results.html')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .row.wrapper.border-bottom.white-bg.page-heading
                    .col-lg-10
                        h2 Campaigns
                        ol.breadcrumb
                            li
                                a(href='/dashboard') Home
                            li
                                a Chatbot
                            li.active
                                strong Campaigns
                    .col-lg-2
                .wrapper.wrapper-content.animated.fadeInRight
                    .row
                        .col-lg-12
                            .ibox.float-e-margins
                                if id
                                    .alert.alert-success.alert-dismissable
                                        button.close(aria-hidden='true', data-dismiss='alert', type='button') &times;
                                        |  Created successfully
                                        |
                                        b ID #{id}
                                        | .

                                if err
                                    .alert.alert-danger.alert-dismissable
                                        button.close(aria-hidden='true', data-dismiss='alert', type='button') &times;
                                        |  Error

                                .alert.alert-danger(ng-if="!campaignCtr.form.$valid && campaignCtr.isFormSend")
                                    | Please fill out all the highlighted steps.

                                .ibox-title
                                    h5 Add new campaign
                                    .ibox-tools
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu.dropdown-user
                                            li
                                                a(href='#') Config option 1
                                            li
                                                a(href='#') Config option 2
                                        a.close-link
                                            i.fa.fa-times
                                .ibox-content
                                    form.form-horizontal#main(method='post', action='/dashboard/campaigns', role='form', name='campaignCtr.form', novalidate)
                                        .form-group(ng-class="{'has-error': campaignCtr.isFormSend && campaignCtr.form.name.$invalid}")
                                            label.col-sm-2.control-label Name
                                            .col-sm-10
                                                input.form-control(type='text' name='name', ng-required='true', ng-model='campaignCtr.data.name', ng-maxlength='50')
                                                input.form-control(type='hidden', name='jsonData', id='data', ng-model='campaignCtr.jsonData')

                                        .form-group(ng-class="{'has-error': campaignCtr.isFormSend && campaignCtr.form.channel.$invalid}")
                                            label.col-sm-2.control-label Channel
                                            .col-sm-2
                                                select.form-control.m-b(name='channel', ng-model='campaignCtr.data.channel', ng-required='true')
                                                    option(value='sms') SMS
                                                    option(value='facebook') Facebook
                                                    option(value='telegram') Telegram
                                                    option(value='slack') Slack
                                        .form-group(ng-class="{'has-error': campaignCtr.isFormSend && campaignCtr.form.phone.$invalid}")
                                            label.col-sm-2.control-label Phone number
                                            .col-sm-10
                                                .row
                                                    .col-md-3
                                                        input.form-control(type='text', name='phone' placeholder='+12345678900' ng-required='true', ng-model='campaignCtr.data.phone', ng-pattern='/^\\+\\d{11}$/')

                                        .form-group
                                            label.col-sm-2.control-label Start/End date
                                            .col-sm-10
                                                #datepicker.input-daterange.input-group
                                                    input.input-sm.form-control.datapicker(type='text', datepicker-input name='startDate', value='', ng-model='campaignCtr.data.startDate')
                                                    |
                                                    span.input-group-addon to
                                                    |
                                                    input.input-sm.form-control.datapicker(type='text', datepicker-input name='endDate', value='', ng-model='campaignCtr.data.endDate')

                                        #repeat(ng-repeat='step in campaignCtr.steps')
                                            .hr-line-dashed
                                            h3 Step {{step.id}}

                                            //QUESTION
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['question-{{step.id}}'].$invalid}")
                                                label.col-sm-2.control-label Question
                                                .col-sm-10
                                                    input.form-control(type='text', name='question-{{step.id}}', ng-required="true" ng-maxlength="150", ng-model="campaignCtr.flowStorage[step.id].text")

                                            //RESPONSE
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['response-{{step.id}}'].$invalid}")
                                                label.col-sm-2.control-label Response
                                                .col-sm-2
                                                    select.form-control.m-b(name='response-{{step.id}}', ng-required="true", ng-model="campaignCtr.flowStorage[step.id].response")
                                                        option(value="name" selected='') Name
                                                        option(value="text") Text
                                                        option(value="email") Email
                                                        option(value="address") Address
                                                        option(value="boolean") Boolean

                                            //NEXT STEP
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['step-{{step.id}}'].$invalid}" ng-show="campaignCtr.flowStorage[step.id].response != 'boolean'")
                                                label.col-sm-2.control-label Next step
                                                .col-sm-2
                                                    input.form-control(type='number', name='step-{{step.id}}', ng-required="campaignCtr.flowStorage[step.id].response != 'boolean'" ng-maxlength="5", ng-model="campaignCtr.flowStorage[step.id].nextStep.default")

                                            //NEXT STEP IF YES
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['step-yes-{{step.id}}'].$invalid}" ng-show="campaignCtr.flowStorage[step.id].response == 'boolean'")
                                                label.col-sm-2.control-label Next step, If Yes
                                                .col-sm-2
                                                    input.form-control(type='number', name='step-yes-{{step.id}}', ng-required="campaignCtr.flowStorage[step.id].response == 'boolean'" ng-maxlength="5", ng-model="campaignCtr.flowStorage[step.id].nextStep.ifYes")

                                            //NEXT STEP IF NO
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['step-no-{{step.id}}'].$invalid}" ng-show="campaignCtr.flowStorage[step.id].response == 'boolean'")
                                                label.col-sm-2.control-label Next step, If No
                                                .col-sm-2
                                                    input.form-control(type='number', name='step-no-{{step.id}}', ng-required="campaignCtr.flowStorage[step.id].response == 'boolean'" ng-maxlength="5", ng-model="campaignCtr.flowStorage[step.id].nextStep.ifNo")

                                            //INITIATOR
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['initiator-{{step.id}}'].$invalid}")
                                                label.col-sm-2.control-label Initiator
                                                .col-sm-2
                                                    select.form-control.m-b(name='initiator-{{step.id}}', ng-required="true" , ng-change="campaignCtr.changeResponse(step.id)", ng-model="campaignCtr.flowStorage[step.id].initiator")
                                                        option(value="user" selected='') User
                                                        option(value="bot") Bot

                                            //DELAY
                                            .form-group(ng-class="{'has-error': campaignCtr.isFormSend &&  campaignCtr.form['delay-{{step.id}}'].$invalid}")
                                               label.col-sm-2.control-label Delay
                                               .col-sm-2
                                                   input.form-control(type='number', name='delay-{{step.id}}', ng-required="true" ng-maxlength="150", ng-model="campaignCtr.flowStorage[step.id].delay")

                                        //BUTTONS
                                        .form-group
                                            .col-sm-4.col-sm-offset-2
                                                button.btn.btn-w-m.btn-success#save(ng-click='campaignCtr.submit()') Save
                                                |
                                                |
                                                button.btn.btn-primary(ng-click='campaignCtr.addStep()') + Add
                                                |
                                                |
                                                button.btn.btn-w-m.btn-danger(ng-click='campaignCtr.deleteStep()', ng-disabled='campaignCtr.step == 1') Delete
                include footer.pug