doctype html
html
    include header.pug
    body.gray-bg
        .middle-box.text-center.loginscreen.animated.fadeInDown
                div
                    h3 Welcome to Chatbot payment
                    form.m-t(role='form', action='index.html')
                        .form-group
                            input.form-control(type='text', placeholder='Username', required='')
                        .form-group
                            input.form-control(type='password', placeholder='Password', required='')
                        |
                        button.btn.btn-primary.block.full-width.m-b(type='submit') Login
                        |
                        small Singlecomm &copy; 2017
