<section class="slide">

  <header class="header">
    <img src="../assets/img/logo.png" alt="Logo">
  </header> <!-- /.header -->

  <div class="body">

    <div class="content">
      <h3 class="text-center">Shipping</h3>
      <h4 class="text-center text-muted">Step 1 / 3</h4>

      <br>

      <form role="form" class="form-mobile" name="ShippingCtrl.form" novalidate>

        <h5 class="text-uppercase text-semibold">Shipping Information</h5>
        <p ng-if="!ShippingCtrl.form.$valid && ShippingCtrl.isFormSend" class="bg-danger">Please fill out all the highlighted fields</p>
        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.email.$error.email" class="bg-danger">Email: not valid email</p>
        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.zipCode.$error.maxlength" class="bg-danger">Zip code: max. length - 10</p>
        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.firstName.$error.maxlength" class="bg-danger">First Name: max. length - 15</p>
        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.lastName.$error.maxlength" class="bg-danger">Last Name: max. length - 15</p>

        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.addressFirst.$error.maxlength" class="bg-danger">Address 1: max. length - 50</p>
        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.addressSecond.$error.maxlength" class="bg-danger">Address 2: max. length - 50</p>
        <p ng-if="ShippingCtrl.isFormSend && ShippingCtrl.form.city.$error.maxlength" class="bg-danger">City: max. length - 30</p>

        <fieldset class="fieldset-mobile">
          <div class="form-group">
            <label for="fname">First Name</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.firstName.$invalid}">
              <input type="text" id="fname" name="firstName" class="form-control"
                     ng-required="true"
                     ng-maxlength="15"
                     ng-model="ShippingCtrl.user.shipping.firstName">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label for="lname">Last Name</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.lastName.$invalid}">
              <input type="text" id="lname" name="lastName" class="form-control"
                     ng-required="true"
                     ng-maxlength="15"
                     ng-model="ShippingCtrl.user.shipping.lastName">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label for="email">Email</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.email.$invalid}">
              <input type="email" id="email" name="email" class="form-control"
                     ng-required="true"
                     ng-model="ShippingCtrl.user.shipping.email">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->
        </fieldset> <!-- /.fieldset-mobile -->

        <fieldset class="fieldset-mobile">
          <div class="form-group">
            <label for="address1">Address 1</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.addressFirst.$invalid}">
              <input type="text" id="address1" name="addressFirst" class="form-control"
                     ng-required="true"
                     ng-maxlength="50"
                     ng-model="ShippingCtrl.user.shipping.addressFirst">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label for="address2">Address 2</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.addressSecond.$invalid}">
              <input type="text" id="address2" name="addressSecond" class="form-control"
                     ng-maxlength="50"
                     ng-model="ShippingCtrl.user.shipping.addressSecond">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label for="city">City</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.city.$invalid}">
              <input type="text" id="city" name="city" class="form-control"
                     ng-required="true"
                     ng-maxlength="30"
                     ng-model="ShippingCtrl.user.shipping.city">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label for="state">State</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.state.$invalid}">

              <select id="state" name="state" class="form-control"
                      ng-model="ShippingCtrl.user.shipping.state"
                      ng-required="true">
                <option ng-repeat="(key, value) in ShippingCtrl.states" value="{{key}}">{{value}}</option>
              </select>

            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <div class="form-field" ng-class="{'error': ShippingCtrl.isFormSend && ShippingCtrl.form.zipCode.$invalid}">
              <input type="number" id="zipcode" name="zipCode" class="form-control"
                     ng-required="true"
                     ng-maxlength="10"
                     ng-model="ShippingCtrl.user.shipping.zipCode">
            </div> <!-- /.form-field -->
          </div> <!-- /.form-group -->
        </fieldset> <!-- /.fieldset-mobile -->
      </form>
    </div> <!-- /.content -->
  </div>  <!-- /.body -->

  <nav class="actions">
    <button ng-click="ShippingCtrl.go('/order')" ng-disabled="ShippingCtrl.user.isPaymentCompleted" class="btn btn-default action-back" data-direction="back">Back</button>
    <button ng-click="ShippingCtrl.go('/payment')" ng-disabled="ShippingCtrl.user.isPaymentCompleted" class="btn btn-piyo-pink action-next" data-direction="next">Continue</button>
  </nav> <!-- /.actions -->

</section> <!-- /.slide -->



