<header class="header">
  <img src="../../assets/img/logo.png" alt="Logo">
</header> <!-- /.header -->

<div class="body">


  <div class="content">
    <h3 class="text-center">Your order!</h3>
    <p class="text-center text-muted">Suspendisse potenti. In dictum, augue at efficitur tristique, lorem ante sodales massa.</p>


    <div class="cart">

      <div class="cart-header">
        <div class="row">
          <div class="col-xs-6">
            <strong><i class="fa fa-shopping-cart"></i> Cart (2)</strong>
          </div> <!-- /.col -->

          <div class="col-xs-6 text-right">
            <strong>3-Pay (USD)</strong>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.cart-header -->

      <div class="cart-items">

        <div class="cart-item">
          <div class="row">
            <div class="col-xs-9">
              <small class="cart-item-sku">CHDVD2101NF</small>
              <br>
              <strong class="cart-item-name">Piyo</strong>
            </div> <!-- /.col -->

            <div class="col-xs-3 text-right">
              <span class="cart-item-amount">$72.80</span><br>
              <span class="cart-item-quantity">Qty: 1</span>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.cart-item -->

        <div class="cart-item">
          <div class="row">
            <div class="col-xs-9">
              <small class="cart-item-sku">MISCUEXPSHP</small>
              <br>
              <strong class="cart-item-name">Free Upgrade to Express Shipping</strong>
            </div> <!-- /.col -->

            <div class="col-xs-3 text-right">
              <span class="cart-item-amount">$0.00</span><br>
              <span class="cart-item-quantity">Qty: 1</span>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.cart-item -->

      </div> <!-- /.cart-items -->

      <div class="cart-summary">
        <h4 class="cart-summary-title">Payment Summary</h4>
        <span class="cart-summary-description">View a breakdown of item prices, S&H costs.</span>
      </div> <!-- .cart-summary -->

      <div class="cart-total">

        <div class="cart-total-left">
          <h4 class="cart-total-today">
            $38.83
            <span>Today</span>
          </h4>
        </div>

        <div class="cart-total-right">
          Tax: <strong>$5.93</strong>
          <br>
          Total: <strong>$78.73</strong>
        </div>
      </div> <!-- /.cart-total -->

    </div> <!-- /.cart -->

  </div> <!-- /.content -->

</div>  <!-- /.body -->

<nav class="actions">
  <button routerLink="/main" class="btn btn-default action-back" data-direction="back">Back</button>
  <button routerLink="/shipping" class="btn btn-piyo-pink action-next" data-direction="next">Continue</button>
</nav> <!-- /.actions -->
