<section class="slide">

  <header class="header">
    <img src="../assets/img/logo.png" alt="Logo">
  </header> <!-- /.header -->

  <div class="body">

    <div class="content">

      <h3 class="text-center">Order Review</h3>
      <h4 class="text-center text-muted">Step 3 / 3</h4>

      <br>

      <div class="preview-data">
        <h5 class="text-uppercase text-semibold">
          Your Order
        </h5>

        <ul class="preview-list">
          <li>1 X Piyo</li>
        </ul>
      </div> <!-- /.preview-data -->

      <div class="preview-data">
        <h5 class="text-uppercase text-semibold">
          Shipping Address
          <a ng-click="ReviewCtrl.go('/shipping')" ng-if="!ReviewCtrl.user.isPaymentCompleted" class="preview-edit">Edit</a>
        </h5>

        <ul class="preview-list">
          <li>{{ ReviewCtrl.user.shipping.addressFirst }}</li>
          <li>{{ ReviewCtrl.user.shipping.addressSecond }}</li>
          <li>{{ ReviewCtrl.user.shipping.city }}, {{ ReviewCtrl.user.shipping.state }} {{ ReviewCtrl.user.shipping.zipCode }}</li>
        </ul>
      </div> <!-- /.preview-data -->

      <div class="preview-data">
        <h5 class="text-uppercase text-semibold">
          Billing Address
          <a ng-click="ReviewCtrl.go('/payment')" ng-if="!ReviewCtrl.user.isPaymentCompleted" class="preview-edit">Edit</a>
        </h5>

        <ul class="preview-list">
          <li>{{ ReviewCtrl.user.billing.addressFirst }}</li>
          <li>{{ ReviewCtrl.user.billing.addressSecond }}</li>
          <li>{{ ReviewCtrl.user.billing.city }}, {{ ReviewCtrl.user.billing.state }} {{ ReviewCtrl.user.billing.zipCode }}</li>
        </ul>
      </div> <!-- /.preview-data -->

      <div class="preview-data">
        <h5 class="text-uppercase text-semibold">
          Payment Information
          <a ng-click="ReviewCtrl.go('/payment')" ng-if="!ReviewCtrl.user.isPaymentCompleted" class="preview-edit">Edit</a>
        </h5>

        <ul class="preview-list">
          <li><img src="../assets/img/visa-logo.png" alt=""></li>
          <li>Credit Card Ending in {{ ReviewCtrl.user.billing.card.expDate }}</li>
        </ul>
      </div> <!-- /.preview-data -->

    </div> <!-- /.content -->

  </div>  <!-- /.body -->

  <nav class="actions" ng-if="!ReviewCtrl.user.isPaymentCompleted">

    <button ng-click="ReviewCtrl.go('/payment')" ng-disabled="ReviewCtrl.isDataSend" class="btn btn-default action-back" data-direction="back">Back</button>

    <button ng-click="ReviewCtrl.save()" ng-disabled="ReviewCtrl.isDataSend" ng-class="{'btn-warning': ReviewCtrl.buttonText == false}" class="btn btn-success btn-block action-next" data-direction="next">
      <span ng-if="ReviewCtrl.buttonText == null"><i class="fa fa-lock"></i> Complete Payment</span>
      <span ng-if="ReviewCtrl.buttonText == true"><i class="fa fa-lock"></i> Completing Payment, please wait...</span>
      <span ng-if="ReviewCtrl.buttonText == false"><i class="fa fa-lock"></i> Payment error, try later!</span>
    </button>

  </nav> <!-- /.actions -->

  <nav class="actions" ng-if="ReviewCtrl.user.isPaymentCompleted">
    <h4>We received your payment, thank you! <br> We will send you a link to your invoice shortly.</h4>
  </nav> <!-- /.actions -->

</section> <!-- /.slide -->


